name: Push Subtrees

on:
  push:
    branches:
      - main

jobs:
  push-subtrees:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout monorepo
        uses: actions/checkout@v3

      - name: Push common
        run: |
          git remote add common https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/Azure-OSS/azure-storage-common.git
          git subtree push --prefix=src/Common common main

      - name: Push blob
        run: |
          git remote add blob https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/Azure-OSS/azure-storage-php.git
          git subtree push --prefix=src/Blob blob main

      - name: Push blob-flysystem
        run: |
          git remote add blob-flysystem https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/Azure-OSS/azure-storage-php-adapter-flysystem.git
          git subtree push --prefix=src/BlobFlysystem blob-flysystem main

      - name: Push blob-laravel
        run: |
          git remote add blob-laravel https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/Azure-OSS/azure-storage-php-adapter-laravel.git
          git subtree push --prefix=src/BlobLaravel blob-laravel main